.note {
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;

  &.current {
    background-color: lawngreen;
  }

  &.clicked {
    background-color: royalblue;
  }
}
