<h1>Beat Maker</h1>

<form [formGroup]="form" matForm>
  <mat-form-field appearance="outline">
    <mat-label>Tempo</mat-label>
    <input
      type="number"
      name="tempo"
      formControlName="tempo"
      matInput
      placeholder="tempo"
      [(ngModel)]="tempo"
      min="1"
      max="300"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Time Signature</mat-label>
    <input
      type="number"
      name="timeSignature"
      formControlName="timeSignature"
      matInput
      placeholder="tempo"
      [(ngModel)]="timeSignature"
      min="1"
      max="16"
    />
    <span>4</span>
  </mat-form-field>

  <button mat-button (click)="handleLoop()">
    <ng-container *ngIf="!isPlaying">
      <mat-icon>play_arrow</mat-icon>
      Play!
    </ng-container>

    <ng-container *ngIf="isPlaying">
      <mat-icon>pause</mat-icon>
      Pause
    </ng-container>
  </button>
</form>

<div class="instrument-row">
  <div class="instrument">
    <!-- <mat-select>
      <mat-option></mat-option>
    </mat-select> -->
  </div>

  <ng-container
    *ngFor="let b of beatLength$ | async as beatLength; let beat = index"
  >
    &nbsp;

    <ng-container *ngFor="let d of [1, 2, 3, 4]; let position = index">
      <div #note class="d" (click)="selectNote(beat, position)"></div>
    </ng-container>
  </ng-container>
</div>
<!-- </div> -->
