<div class="instrument-row">
  <div class="instrument">
    <mat-form-field appearance="standard">
      <mat-label>instrument</mat-label>
      <mat-select>
        <mat-option
          [value]="instrument"
          *ngFor="let instrument of instruments"
          >{{ instrument }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <ng-container *ngFor="let b of measureLength; let beat = index">
    &nbsp;

    <ng-container *ngFor="let d of [1, 2, 3, 4]; let position = index">
      <div #note class="note" (click)="selectNote(beat, position)"></div>
    </ng-container>
  </ng-container>
</div>
