.instrument-row {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .instrument {
    border: 1px solid dodgerblue;
  }
}

.pulse {
  display: inline-block;
}

.note {
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  cursor: pointer;

  //   &.current {
  //     background-color: lawngreen;
  //   }

  //   &.clicked {
  //     background-color: royalblue;
  //   }
}
