<h1>Beat Maker</h1>

<form [formGroup]="form" matForm>
  <mat-form-field appearance="outline">
    <mat-label>Tempo</mat-label>
    <input
      type="number"
      name="tempo"
      formControlName="tempo"
      matInput
      placeholder="tempo"
      min="1"
      max="300"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>pulses</mat-label>
    <input
      type="number"
      name="timeFormule"
      formControlName="pulses"
      matInput
      placeholder=""
      min="1"
      max="16"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>ticks</mat-label>
    <input
      type="number"
      name="timeFormule"
      formControlName="ticks"
      matInput
      placeholder="tempo"
      min="1"
      max="16"
    />
  </mat-form-field>

  <mat-slide-toggle formControlName="isClickOn">Click</mat-slide-toggle>

  <button mat-button (click)="toggleLoop()">
    <ng-container *ngIf="!isPlaying">
      <mat-icon>play_arrow</mat-icon>
      Play!
    </ng-container>

    <ng-container *ngIf="isPlaying">
      <mat-icon>pause</mat-icon>
      Pause
    </ng-container>
  </button>

  <label id="label">instruments</label>

  <div class="instruments-controls">
    <button mat-button (click)="addInstrumentTrack()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button (click)="removeInstrumentTrack()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</form>

<div class="children">
  <ng-container *ngFor="let track of trackCount; let trackIndex = index">
    <app-track [barLength]="barLength$ | async" [pulses] [ticks]></app-track>
  </ng-container>
</div>

<!-- </div> -->
