<h1>Groove Maker</h1>

<form [formGroup]="form" matForm>
  <div class="first-group">
    <mat-form-field class="tempo-input-field" appearance="outline">
      <mat-label>Tempo</mat-label>
      <input
        type="number"
        name="tempo"
        formControlName="tempo"
        matInput
        placeholder="tempo"
        max="500"
        min="20"
      />
    </mat-form-field>

    <mat-form-field class="pulses-input-field" appearance="outline">
      <mat-label>pulses</mat-label>
      <input
        (change)="clearUIClickPos()"
        type="number"
        class="pulses-input"
        name="timeFormule"
        formControlName="pulses"
        matInput
        min="1"
        max="16"
      />
    </mat-form-field>
    <mat-form-field class="ticks-input-field" appearance="outline">
      <mat-label>ticks</mat-label>
      <input
        (change)="clearUIClickPos()"
        type="number"
        class="ticks-input"
        name="timeFormule"
        formControlName="ticks"
        matInput
        min="1"
        max="16"
      />
    </mat-form-field>
  </div>
  <div class="second-group">
    <mat-slide-toggle
      class="click-toggle"
      formControlName="isClickOn"
      color="primary"
      (change)="onClickToggle($event)"
      >Click</mat-slide-toggle
    >

    <button class="play-btn" mat-button (click)="toggleLoop()">
      <ng-container *ngIf="!isPlaying">
        <mat-icon>play_arrow</mat-icon>
        Play!
      </ng-container>

      <ng-container *ngIf="isPlaying">
        <mat-icon>pause</mat-icon>
        Pause
      </ng-container>
    </button>

    <div class="instruments-controls">
      <p id="label">instruments</p>
      <button mat-button (click)="addInstrumentTrack()">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-button (click)="removeInstrumentTrack()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
</form>

<div class="children">
  <ng-container *ngFor="let track of tracks$ | async; let trackIndex = index">
    <app-track [index]="trackIndex"></app-track>
  </ng-container>
</div>

<!-- </div> -->
