<div class="page-container">
  <h1>Projects</h1>

  <div class="projects" *ngFor="let projeto of projetos">
    <mat-card>
      <h2>
        <div class="tiny-circle"></div>
        {{ projeto.title }}
      </h2>
      <img [src]="projeto.gif" [alt]="projeto.title" srcset="" />
      <p>{{ projeto.description }}</p>

      <div class="btn-container">
        <a [href]="projeto.url + '/blob/master/README.md'" target="_blank">
          <button mat-raised-button color="primary">
            <mat-icon>link</mat-icon><span> check it out</span>
          </button>
        </a>
      </div>
    </mat-card>
  </div>
</div>
